.rating {
	background-color: rgba(139, 136, 146, 0.32);
	display: inline-flex;
	align-items: center;
	flex-shrink: 0;
	border-radius: rem(8);
	&--small {
		padding: rem(4);
		@include adaptiveValue("font-size", 14, 10, 0, 1440, 360);
	}
	&--medium {
		padding: rem(5) rem(7);
		@include adaptiveValue("font-size", 16, 13, 0, 1440, 360);
	}
	&--high {
		background-color: #12b77c;
	}
}