.footer {
	padding: rem(20) 0;
	&__container {
	}

	&__content {
	}

	&__title {
		@include adaptiveValue("font-size", 24, 17);
		margin-bottom: rem(20);
	}

	&__desc {
		max-width: rem(1000);
		line-height: 1.7;
		@include adaptiveValue("font-size", 15, 12);
	}
}
