.footer {
	padding: rem(20) 0;
	&__container {
	}

	&__content {
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	&__title {
		@include adaptiveValue("font-size", 24, 20);
		margin-bottom: rem(20);
	}

	&__desc {
		max-width: rem(1000);
		line-height: 1.5;
		@include adaptiveValue("font-size", 15, 12);
	}
}
