//====================================================================================================
.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: var(--bg-primary);
	&__container {
		height: rem(62);
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 30, 0, 1500, 768);
		justify-content: space-between;
	}
	&__logo {
		position: relative;
		display: inline-block;
		width: rem(61);
		height: rem(42);
		flex: 0 0 rem(61);
	}

	&__menu {}
	&__burger-menu {}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(30);
	}

	&__search {
		width: rem(24);
		height: rem(24);
		transition: opacity 0.3s ease 0s;
		opacity: 0.6;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
		gap: rem(5);
		opacity: 0.6;
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
	}
}
.menu {
	flex: 1 1 auto;
	@media (max-width:$mobile){
		display: none;
	}

	&__list {
		display: flex;
		align-items: center;
		row-gap: rem(10);
		@include adaptiveValue("column-gap", 30, 20, 0, 1500, 768);
		@media (max-width:$mobile){
			flex-direction: column;
			gap: rem(20); 
			align-items: end;
		}
	}

	&__item {}

	&__link {
		position: relative;
		font-size: rem(18);
		font-weight: 700;
		line-height: 1.2;
		opacity: 0.6;
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 30, 20, 0, 768, 320);
			opacity: 1;
			padding-right: rem(10);
		}
	}
}

.burger-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.603); 
	padding: rem(100) rem(40) rem(40) rem(40);
	z-index: 110;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	&--open {	
		opacity: 1;
		visibility: visible;
	}
	@media (min-width:$mobile){
		display: none;
	}
	&__list {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 50, 30, 0, 768, 320);
	}

	&__item {
	}

	&__link {
		position: relative;
		display: block;
		@include adaptiveValue("font-size", 30, 20, 0, 768, 320);
		font-weight: 700;
		line-height: 1.2;
		padding-left: rem(14);
		// @include adaptiveValue("height", 31, 24, 0, 768, 320);
		height: 100%;
		&--active {
			&::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: rem(2);	
				height: 100%;
				background-color: var(--text-primary);
			}
		}
	}
}
//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(27);
		height: rem(21);
		z-index: 120;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: var(--text-primary);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}