//====================================================================================================
.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: var(--bg-primary);
	&__container {
		height: rem(62);
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 30, 0, 1500, 768);
		justify-content: space-between;
		@media (max-width:$mobile){
			height: rem(50); 
		}
	}
	&__logo {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 18);
		span {
			color: var(--text-third);
		}
	}

	&__menu {}
	&__burger-menu {}

	&__actions {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 20);
	}

	&__search {
		width: rem(24);
		height: rem(24);
		transition: opacity 0.3s ease 0s;
		opacity: 0.6;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
		gap: rem(5);
		opacity: 0.6;
		transition: opacity 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
		span {
			@media (max-width:$mobileSmall){
				display: none; 
			}
		}
	}
}
.menu {
	height: 100%;
	flex: 1 1 auto;
	@media (max-width:$mobile){
		display: none;
	}

	&__list {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: rem(10);
		@include adaptiveValue("column-gap", 30, 20, 0, 1500, 768);
		@media (max-width:$mobile){
			flex-direction: column;
			gap: rem(20); 
			align-items: end;
		}
	}

	&__item {
		height: 100%;
	}

	&__link {
		position: relative;
		display: inline-block;
		line-height: rem(62);
		@include adaptiveValue("font-size", 18, 16, 0, 1440, 768);
		font-weight: 700;
		opacity: 0.6;
		transition: opacity 0.3s ease 0s;
		&--active {
			opacity: 1;
			&::before{
				content:'';
				position: absolute;
				bottom: 0;
				left: -25%;
				width: 150%;
				height: rem(2);
				background: linear-gradient(270deg,transparent .17%,#664ea1 15%,#3a276a 50%,#664ea1 85%,transparent); 
			}
		}
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
			}
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 30, 20, 0, 768, 320);
			opacity: 1;
			padding-right: rem(10);
		}
	}
}

.burger-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.903); 
	padding: rem(100) rem(40) rem(40) rem(40);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	.menu-open & {	
		opacity: 1;
		visibility: visible;
	}
	@media (min-width:$mobile){
		display: none;
	}
	&__list {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 50, 30, 0, 768, 320);
	}

	&__item {
		opacity: 0;
		transform: translateY(rem(-10));
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		&--done {
			opacity: 1;
			transform: translateY(rem(0));
		}
	}

	&__link {
		position: relative;
		display: block;
		@include adaptiveValue("font-size", 30, 20, 0, 768, 320);
		font-weight: 700;
		line-height: 1.2;
		padding-left: rem(14);
		height: 100%;
		&--active {
			&::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				width: rem(2);	
				height: 100%;
				background-color: var(--text-primary);
			}
		}
	}
}
//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(27);
		height: rem(21);
		z-index: 11;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: var(--text-primary);
			opacity: 0.6;
			@media (any-hover: hover){
				&:hover{
					opacity: 1;					
				}
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}