//====================================================================================================
.hero-slider {
	overflow: hidden;
	position: relative;
	&__container {
		max-width: 57%;
		@media (max-width: em(1260)){
			max-width: 65%;
		}
		@media (max-width:$tablet){
			max-width: 75%;		
		}
		@media (max-width:$mobile){
			max-width: 90%;
		}
	}

	&__swiper-slide {
	}
}

.hero-slide {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 60%;
	border-radius: rem(10);
	overflow: hidden;	
	border: solid rem(1) hsla(0, 0%, 100%, 0.1);
	&::before{
		content:'';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		box-shadow: rgba(0, 0, 0, 0.753) rem(0) rem(-50) rem(200) rem(-28) inset;
	}
	@media (max-width:$mobileSmall){
		padding-bottom: 80%;
	}
	&__image {
		display: block;
		object-fit: cover;
	}

	&__content {
		position: absolute;
		bottom: 5%;
		left: 5%;
		z-index: 22;
	}

	&__name {
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: rem(0.5);
		margin-bottom: rem(15);
	}

	&__genres {
		margin-bottom: rem(15);
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(10);
		flex-wrap: wrap;
	}

	&__rating {
		background-color: rgba(138, 136, 145, 0.32);
		@include adaptiveValue("font-size", 16, 13);
		border-radius: rem(5);
		padding: rem(5);
		letter-spacing: rem(0.5);
		line-height: 1.2;
	}

	&__year {
		@include adaptiveValue("font-size", 16, 13);
		line-height: 1.3;
		font-weight: 700;
	}
}

.genres-hero {
	display: flex;
	gap: rem(7);
	font-weight: 700;
	@include adaptiveValue("font-size", 18, 14);
	line-height: 1.2;
	&__genre {
		position: relative;
		font-weight: 500;
		font-size: rem(16);
		&:not(:last-child) {
			&::after{
				content:',';
			}
		}
	}
}
//====================================================================================================
