//====================================================================================================
.hero-slider {
	@include adaptiveValue("margin-top", 20, 10, 0, 1440, 320);
	@include adaptiveValue("margin-bottom", 30, 20, 0, 1440, 360);
	overflow: hidden;
	position: relative;
	&__container {
		max-width: 57%;
		@media (max-width: em(1260)) {
			max-width: 65%;
		}
		@media (max-width: $tablet) {
			max-width: 75%;
		}
		@media (max-width: $mobile) {
			max-width: 90%;
		}
	}

}

.hero-slide {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    border-radius: rem(10);
    overflow: hidden;
    border: solid rem(1) hsla(0, 0%, 100%, 0.1);
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        box-shadow: rgba(0, 0, 0, 0.753) rem(0) rem(-50) rem(200) rem(-28) inset;
    }
    @media (max-width: $mobileSmall) {
        padding-bottom: 80%;
    }
    &__image {
        display: block;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        bottom: 5%;
        left: 5%;
        z-index: 22;
    }

    &__name {
        @include adaptiveValue("font-size", 24, 16);
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: rem(0.5);
        margin-bottom: rem(15);
    }

    &__genres {
        margin-bottom: rem(15);
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: rem(10);
        flex-wrap: wrap;
    }

    &__rating {
        letter-spacing: rem(0.5);
    }

    &__year {
        @include adaptiveValue("font-size", 16, 13);
        line-height: 1.3;
        font-weight: 700;
    }
}

.genres-hero {
    display: flex;
    gap: rem(7);
    font-weight: 700;
    @include adaptiveValue("font-size", 18, 14);
    line-height: 1.2;
    &__genre {
        position: relative;
        font-weight: 500;
        font-size: rem(16);
        &:not(:last-child) {
            &::after {
                content: ",";
            }
        }
    }
}
//====================================================================================================

.filter-section {
    @include adaptiveValue("margin-bottom", 50, 25);
    overflow: hidden;
    position: relative;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 rem(55) rem(55) rgb(0, 0, 0);
        transition: opacity 0.3s ease 0s;
        @media (max-width: em(570)) {
            box-shadow: 0 0 rem(48) rem(48) rgb(0, 0, 0);
        }
    }
    &::before {
        left: 0;
        opacity: 0;
    }
    &::after {
        right: 0;
        opacity: 1;
    }
    &--start {
        &:after {
            opacity: 0;
        }
        &:before {
            opacity: 1;
        }
    }
    &--center {
        &:after {
            opacity: 1;
        }
        &:before {
            opacity: 1;
        }
    }
    &__container {
        padding: 0 rem(60);
        @media (max-width: $tablet) {
            padding: 0 rem(45);
        }
        @media (max-width: $mobile) {
            padding: 0 rem(30);
        }
        @media (max-width: $mobileSmall) {
            padding: 0 rem(15);
        }
    }

    &__swiper-slide {
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 15, 10);
        }
    }
}

.slide-filter {
    @include adaptiveValue("font-size", 16, 12);
    @include adaptiveValue("padding-top", 15, 10, 0, 1440, 480);
    @include adaptiveValue("padding-bottom", 15, 10, 0, 1440, 480);
    @include adaptiveValue("padding-left", 20, 14, 0, 1440, 480);
    @include adaptiveValue("padding-right", 20, 14, 0, 1440, 480);
    @include adaptiveValue("gap", 10, 7);
    &__icon {
        width: rem(24);
        height: rem(24);
        svg {
            width: 100%;
            height: 100%;
        }
        @media (max-width: $mobileSmall) {
            width: rem(20);
            height: rem(20);
        }
    }

    &__text {
        white-space: nowrap;
    }
}
//====================================================================================================