.search-modal {
	&__title {
		@include adaptiveValue("margin-bottom", 40, 20);
	}
	&__form {
		margin-bottom: rem(30);
	}

	&__content {}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: rem(20);
		padding: rem(10);
		margin-bottom: rem(20);
		@media (max-width: em(550)){
			grid-template-columns: 1fr;
		}
	}
	&__item {}

	&__load-more {
		margin-bottom: rem(30);
	}
}
.search-item {
	@media (any-hover: hover){
		&:hover{
			.search-item__name {
				color: var(--text-third);
			}
		}
	}
	&__link {
		display: flex;
		gap: rem(15);
		align-items: center;
	}

	&__image {
		position: relative;
		width: rem(50);
		height: rem(75);
		flex: 0 0 rem(50);
		border-radius: rem(10);
		overflow: hidden;
	}

	&__content {}

	&__name {
		@include adaptiveValue("font-size", 16, 14);	
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: rem(0.5);
		margin-bottom: rem(5);
		transition: all 0.3s ease 0s;
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(10);
	}

	&__year {
		font-weight: 500;
		font-size: rem(15);
		opacity: 0.5;
	}

	&__rating {
		font-size: rem(12);
		background-color: rgba(255, 255, 255, 0.144);
		padding: 0 rem(5);
		border-radius: rem(10);
		line-height: 1.8;
	}
}
